.image_text {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}

.image_text_bottom {
	position: relative;
	width: 100%;
	background: white;
}

.navbar-dark .nav-link {
	color: rgba(255,255,255,0.75);
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration:none;
	color: inherit;
}